//sass --watch scss/DashboardPage.scss:css/DashboardPage.css

@import "LoginPage.scss";

#root 
{
    height: 100%;
    min-height: 100vh;
    min-width: 725px;

    display: flex;
    flex-direction: column;
    background-color: $primary-color;

    color: $text-color;
}

.header 
{
    height: 70px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #ffffff;
    box-shadow: 0px 0px 1cap 5px $secondary-color;
    z-index: 1;

    & .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & .logo {
        width: 50px;
        background-color: $primary-color;
        border-radius: 15px;
        margin-right: 15px;
    }

    & .logo-text {
        font-size: 2.1ch;
        font-weight: bold;
    }

    & > section {

        display: flex;
        flex-direction: row;

        align-items: center;
    }

    #logOut {
        
        height: 35px;
        width: 100px;

        align-self: center;

        border: 2px solid darken($color: $primary-color, $amount: 50%);
        font-weight: bold;
        font-size: 1.5ch;
        border-radius: 5px;
        color: darken($color: $primary-color, $amount: 50%);
        background-color: #ffffff;
        text-align: center;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
            color: #ffffff;
            background-color: darken($color: $primary-color, $amount: 50%);
        }
    }
}

main {

    padding: 25px;

}

.top-section {

    border-radius: 10px;
    box-shadow: 0px 0px 1cap 5px $secondary-color;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;

    & > section {

        width: 250px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        border-right: 2px solid $secondary-color;

        & > div {
            display: flex;
            flex-direction: column;
        }

        & span {

            align-self: center;

            &:first-child {
                
                font-weight: bold;
                font-size: 2ch;

            }

            &:last-child {
                
                font-weight: bold;
                font-size: 2.5ch;

            }
        }
    }

    .weather-card {

        border-radius: 10px;

        & .weather-status-icon {

            width: 80px;
            height: 80px;
    
            position: absolute;
            top: 8px;
            right: 15px;
    
        }

        & .secondary-box {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.weather-card {

    width: 100%;
    background-color: lighten($color: $primary-color, $amount: 8%);

    position: relative;

    & .main-box {

        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 10px;
        background-color: #ffffff;

        box-shadow: 0px 10px 15px -5px $secondary-color;

        & > * {
            margin-bottom: 5px;
        }
    }

    & .name-of-the-day {
        margin-bottom: -2px;
        font-weight: bold;
        font-size: 2ch;
    }

    & .day-date {
        font-size: 1.3ch;
    }

    & .weather-status-icon {

        width: 60px;
        height: 60px;

        position: absolute;
        top: 0px;
        right: 10px;

    }

    & .secondary-box {
        padding: 15px;
        box-sizing: border-box;

        & > * {
            padding: 3px 0px;
        }
    }

    & .weather-data-title {
        font-weight: bold;
    }

    & div.column {
        display: flex;
        flex-direction: column;
    }
}

.other-days-cards {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    margin-top: 20px;

    .weather-card {

        min-width: 191px;
        box-sizing: content-box;
        border-radius: 10px;
        box-shadow: 0px 0px 1cap 5px $secondary-color;
    }

    .weather-card:last-child {
        margin-right: 0px;
    }

    .filler-element {
        box-shadow: 0px 0px 1cap 5px $secondary-color
    }

}

.filler-element {

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #ffffff;

    & img {
        width: 50px;
        height: 50px;

        animation: rotate 2s linear infinite;

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}