//sass --watch scss/style.scss:css/style.css

$primary-color: rgb(220, 230, 235);
$secondary-color: darken($color: $primary-color, $amount: 15);
$text-color: darken($color: $primary-color, $amount: 70);

.login-container {
    width: 100vw;
    min-width: 330px;
    height: 100vh;
    min-height: 350px;
    display: flex;
    justify-content: center;
    position: relative;

    background-color: $primary-color;
}

.login-panel-container {

    height: 325px;
    width:  300px;

    display: flex;
    flex-direction: column;

    margin: auto;
    
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4cap 5px $secondary-color;

    & .title {
        padding: 10px 0px;
        text-align: center;
        color: $text-color;
        font-size: 3ch;
        font-weight: bolder;
        border-bottom: 1px solid $secondary-color;
    }
}

.login-panel-container form {

    height: 100%;
    padding: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .input-wrapper > .input-wrapper {
        display: flex;
        flex-direction: column;
        margin: 15px 0px;

    }

    & .inline-wrapper {
        display: flex;
        flex-direction: row;

        & > * {
            align-self: center;
            margin: 0px;
        }

        & input {
            margin-right: 7px;
        }
    }

    & input {
        height: 30px;
        border: 1px solid $secondary-color;
        padding: 2px 10px;
        font-size: 1.5ch;
        border-radius: 5px;
        color: lighten($color: $text-color, $amount: 15%);
    }

    & input.wrong {
        border: 1px solid #ff0000;
    }

    & label {
        margin-bottom: 5px;

        color: $text-color;
        font-size: 1.5ch;
        font-weight: bolder;
    }

    & button {
        height: 40px;

        background-color: darken($color: $primary-color, $amount: 50%);
        border: 0px;
        font-weight: bold;
        font-size: 1.5ch;
        border-radius: 5px;
        color: #f0f0f0;
    }
}