.login-container {
  width: 100vw;
  min-width: 330px;
  height: 100vh;
  min-height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: rgb(220, 230, 235);
}

.login-panel-container {
  height: 325px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4cap 5px #abc3cf;
}
.login-panel-container .title {
  padding: 10px 0px;
  text-align: center;
  color: #24353e;
  font-size: 3ch;
  font-weight: bolder;
  border-bottom: 1px solid #abc3cf;
}

.login-panel-container form {
  height: 100%;
  padding: 0px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-panel-container form .input-wrapper > .input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}
.login-panel-container form .inline-wrapper {
  display: flex;
  flex-direction: row;
}
.login-panel-container form .inline-wrapper > * {
  align-self: center;
  margin: 0px;
}
.login-panel-container form .inline-wrapper input {
  margin-right: 7px;
}
.login-panel-container form input {
  height: 30px;
  border: 1px solid #abc3cf;
  padding: 2px 10px;
  font-size: 1.5ch;
  border-radius: 5px;
  color: #3f5f6f;
}
.login-panel-container form input.wrong {
  border: 1px solid #ff0000;
}
.login-panel-container form label {
  margin-bottom: 5px;
  color: #24353e;
  font-size: 1.5ch;
  font-weight: bolder;
}
.login-panel-container form button {
  height: 40px;
  background-color: #496d7f;
  border: 0px;
  font-weight: bold;
  font-size: 1.5ch;
  border-radius: 5px;
  color: #f0f0f0;
}

#root {
  height: 100%;
  min-height: 100vh;
  min-width: 725px;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 230, 235);
  color: #24353e;
}

.header {
  height: 70px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 0px 1cap 5px #abc3cf;
  z-index: 1;
}
.header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo {
  width: 50px;
  background-color: rgb(220, 230, 235);
  border-radius: 15px;
  margin-right: 15px;
}
.header .logo-text {
  font-size: 2.1ch;
  font-weight: bold;
}
.header > section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header #logOut {
  height: 35px;
  width: 100px;
  align-self: center;
  border: 2px solid #496d7f;
  font-weight: bold;
  font-size: 1.5ch;
  border-radius: 5px;
  color: #496d7f;
  background-color: #ffffff;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
}
.header #logOut:hover {
  color: #ffffff;
  background-color: #496d7f;
}

main {
  padding: 25px;
}

.top-section {
  border-radius: 10px;
  box-shadow: 0px 0px 1cap 5px #abc3cf;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}
.top-section > section {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #abc3cf;
}
.top-section > section > div {
  display: flex;
  flex-direction: column;
}
.top-section > section span {
  align-self: center;
}
.top-section > section span:first-child {
  font-weight: bold;
  font-size: 2ch;
}
.top-section > section span:last-child {
  font-weight: bold;
  font-size: 2.5ch;
}
.top-section .weather-card {
  border-radius: 10px;
}
.top-section .weather-card .weather-status-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 8px;
  right: 15px;
}
.top-section .weather-card .secondary-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.weather-card {
  width: 100%;
  background-color: #f6f9fa;
  position: relative;
}
.weather-card .main-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -5px #abc3cf;
}
.weather-card .main-box > * {
  margin-bottom: 5px;
}
.weather-card .name-of-the-day {
  margin-bottom: -2px;
  font-weight: bold;
  font-size: 2ch;
}
.weather-card .day-date {
  font-size: 1.3ch;
}
.weather-card .weather-status-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 10px;
}
.weather-card .secondary-box {
  padding: 15px;
  box-sizing: border-box;
}
.weather-card .secondary-box > * {
  padding: 3px 0px;
}
.weather-card .weather-data-title {
  font-weight: bold;
}
.weather-card div.column {
  display: flex;
  flex-direction: column;
}

.other-days-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
}
.other-days-cards .weather-card {
  min-width: 191px;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 0px 0px 1cap 5px #abc3cf;
}
.other-days-cards .weather-card:last-child {
  margin-right: 0px;
}
.other-days-cards .filler-element {
  box-shadow: 0px 0px 1cap 5px #abc3cf;
}

.filler-element {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
}
.filler-element img {
  width: 50px;
  height: 50px;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=DashboardPage.css.map */
