.login-container {
  width: 100vw;
  min-width: 330px;
  height: 100vh;
  min-height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: rgb(220, 235, 231);
}

.login-panel-container {
  height: 325px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4cap 5px #abcfc6;
}
.login-panel-container .title {
  padding: 10px 0px;
  text-align: center;
  color: #243e37;
  font-size: 3ch;
  font-weight: bolder;
  border-bottom: 1px solid #abcfc6;
}

.login-panel-container form {
  height: 100%;
  padding: 0px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-panel-container form .input-wrapper > .input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}
.login-panel-container form .inline-wrapper {
  display: flex;
  flex-direction: row;
}
.login-panel-container form .inline-wrapper > * {
  align-self: center;
  margin: 0px;
}
.login-panel-container form .inline-wrapper input {
  margin-right: 7px;
}
.login-panel-container form input {
  height: 30px;
  border: 1px solid #abcfc6;
  padding: 2px 10px;
  font-size: 1.5ch;
  border-radius: 5px;
  color: #3f6f62;
}
.login-panel-container form input.wrong {
  border: 1px solid #ff0000;
}
.login-panel-container form label {
  margin-bottom: 5px;
  color: #243e37;
  font-size: 1.5ch;
  font-weight: bolder;
}
.login-panel-container form button {
  height: 40px;
  background-color: #497f71;
  border: 0px;
  font-weight: bold;
  font-size: 1.5ch;
  border-radius: 5px;
  color: #f0f0f0;
}

/*# sourceMappingURL=LoginPage.css.map */
